<!-- <div class="product-detalis-sku-wrapper-la collapsible-view-la">
    <div class="collapsible-view-header-la">   
        <h2 class="collapsible-title-la">{{ block.settings.title_product_viewed_la }}</h2>
        <span class="x-icon-collapsible"> {% render 'icon_x' %}</span>
      </div>
    <div class="collapsible-view-wrapper-la">
      
      <p class="product-sku-la">
        Product ID&nbsp;
        {{- product.selected_or_first_available_variant.sku -}}
      </p>
      <p class="tabel-description-la">{{ product.description }}</p>
    </div>
  </div> -->