<section class="search-la search-la-desktop">
  <div class="search_wrapper-la">
    <input
      type="search"
      placeholder="{{ 'general.search.placeholder' | t }}"
      class="la-search-menu-drawer search_desktop_menu_input-la"
      id="Search-In-Template"
      name="q"
      autocorrect="off"
      autocomplete="off"
      autocapitalize="off"
      spellcheck="false"
    >
  </div>
</section>