<style>
  @media screen and (max-width: 989px) {
    .active_icon_one_url,.none_icon {
      display: none;
    }
  }
</style>
<section class="main-collection-grid-la">
   {% render 'collection-grid_one', collection: collection %}
   
</section>
<div class="collection_title_dinamic-la">
  <a href="{{ shop.url }}">{{ shop.name |  upcase}}</a> / <span>{{ collection.title |  upcase }}</span>
</div>
{% schema %}
{
  "name": "Product Grind",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 100,
      "step": 4,
      "default": 40,
      "label": "Products per page"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "Number of columns on desktop"
    }
  ]
}
{% endschema %}
